
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

h1 {
    text-align: center;
    margin: 20px 0;
}



#modal-agendamento {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px #fff(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#empresas-lista {
   display: grid;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    
    
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 350px;
    height: 155px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.btn-agendar {
    padding: 7px 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-agendar:hover {
    background-color: #0056b3;
}




.tiulo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    #empresas-lista {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: column;
        gap: 10px;
        margin-top: 10px;
        flex-direction: column;
        
    }
    
}