<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/styles/agendamentos.css">

</head>
<header class="header">
    <img src="/static/img/agendamento.png" alt="sua agenda" class="logo-header">
    <a href="https://wa.me/34997227288?text=${encodeURIComponent('Gostaria de ter minha agenda')}
    " class="header-link">Quero a minha agenda</a>
</header>

<body>

    <div class="corpo">


        <!-- Campo de busca -->
        <div class="mb-3" id="search-container">
            <strong>Selecione uma empresa para agendar um horário:</strong>
            <input id="search-bar" type="text" class="form-control" placeholder="Buscar empresa por nome">
        </div>

        <div id="empresas-lista"></div>

        <!-- Modal de Agendamento -->
        <div id="modal-agendamento" style="display: none;">
        
            <button id="fechar-modal" class="fechar-modal-btn" style="display: none;">
                <i class="bi bi-x-circle"></i>
            </button >
            
            <h2>Agendar um horario</h2>
            <hr>
            <form id="form-agendamento">
                <select name="servico_id" required>
                    <option value="">Selecione o Serviço</option>
                </select>
                <select id="profissional-select" name="usuario_id" required>
                </select>
                <label for="data-input">Selecione a data</label>
                <input id="data-input" type="date" name="data" required />
                <div id="horarios-disponiveis" class="horarios-container">
                </div>
                <div id="horario-selecionado"></div>
                <label for="descricao">Descrição</label>
                <textarea name="descricao" placeholder="Descrição (opcional)"></textarea>
                 <hr>
                 
                
                <h4>Suas informações</h4>
                <input type="text" name="nome" placeholder="Seu nome" required />
                <input id="telefone-input" type="tel" name="telefone" placeholder="Telefone" required />
                <input type="email" name="email" placeholder="E-mail" required />
                <button type="submit">Agendar</button>

            </form>
        </div>
        <div id="loading-screen"
            style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 9999;">
            <div class="spinner"
                style="width: 50px; height: 50px; border: 5px solid #ccc; border-top: 5px solid #000; border-radius: 50%; animation: spin 1s linear infinite;">
            </div>
            <p style="color: #fff; margin-top: 10px;"> Agendando...</p>
        </div>

        <script src="/static/scripts/agendamento.js">  </script>
</body>
</div>
<footer class="footer">
    <a href="/login" class="footer-btn">Voltar</a>
    <a href="/agenda_cliente" class="footer-btn">Ver meus agendamentos</a>
</footer>


</html>