body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
 
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}



h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: #f5f5f5;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    padding-bottom: 50px; /* Ajuste para acomodar o botão */
    background-color: #292929;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: #f5f5f5;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-logo {
    width: 50px;
    height:5 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.card p {
    margin: 5px 0;
}

.card strong {
    color: #007bff;
}

.whatsapp-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

.whatsapp-button:hover {
    background-color: #1da955;
}

/* Estilo do Footer */
.footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e;
    color: #f5f5f5;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.footer-btn {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.footer-btn:hover {
    background-color: #0056b3;
}
.header img {
    height: 80px;
    width: auto;
    border-radius: 8px;
}

.header .header-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.header .header-link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    .card {
        position: relative;
        padding-bottom: 50px; /* Ajuste para acomodar o botão */
    }

    .card-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-logo {
        margin: 0 0 10px 0;
    }

    .card-title {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
        background-color: #1e1e1e;
        color: #f5f5f5;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .footer-btn {
        width: 90%;
        text-align: center;
        padding: 12px 0;
    }
    .header img {
    height: 50px;
    width: auto;
    border-radius: 8px;
}

.header .header-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.header .header-link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
}

@media (max-width: 480px) {
    input[type="email"] {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 12px;
        padding: 6px 10px;
    }

    .card-title {
        font-size: 14px;
    }

    .card p {
        font-size: 12px;
    }
}
