body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100vh; /* Usa toda a altura da viewport */
    overflow: hidden; /* Evita rolagem */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header img {
    height: 80px;
    width: auto;
    border-radius: 8px;
}

.header .header-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.header .header-link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.card-container {
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    color: #f5f5f5;
}

.card-container .logo {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: #f5f5f5;
    font-size: 16px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#buttons {
    text-align: center;
}

#buttons a, #buttons button {
    width: 100%;
    margin-top: 10px;
}

#backButton {
    display: none;
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    color: #007bff;
    font-weight: bold;
}

#backButton:hover {
    background-color: #f1f1f1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1e1e1e;
    color: #f5f5f5;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer .footer-btn {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 8px;
    transition: background-color 0.3s;
}

footer .footer-btn:hover {
    background-color: #0056b3;
}

.mb-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {

    .mb-4{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20%;
    }
    .card-container {
        margin: 20px;
        padding: 15px;
    }

    .card-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 80px;
    }

    h4 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }


    .header .header-link {
        font-size: 16px;
        text-transform: uppercase;
    
        height: 40px;
        width: 140px;
         background-color: #007bff;
         color: #fff;
         text-decoration: none;
         font-weight: bold;
         border-radius: 8px;
         transition: background-color 0.3s, transform 0.3s;
     }
     
 
}

@media (max-width: 480px) {
    input[type="email"], input[type="password"], input[type="text"] {
        font-size: 14px;
        padding: 8px;
    }
  
    button {
        font-size: 12px;
        padding: 6px 10px;
    }

    h4 {
        font-size: 16px;
    }
    .header img {
        height: 50px;
        width: auto;
        border-radius: 8px;
    }
    
    .header .header-link {
       font-size: 16px;
       text-transform: uppercase;
   
       height: 40px;
       width: 140px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 8px;
        transition: background-color 0.3s, transform 0.3s;
    }
    
}


