    /* Estilos para a caixa de rolagem */
    .tabela-scroll {
        max-height: 400px;  /* Define a altura máxima */
        overflow-y: auto;   /* Adiciona a rolagem vertical */
    }

    /* Estilos para fixar o cabeçalho da tabela */
    .tabela-scroll thead {
        position: sticky;
        top: 0;
        background-color: #343a40; /* Cor de fundo para o cabeçalho */
        z-index: 1; /* Garante que o cabeçalho fique acima da tabela */
    }

    .btn-group {
        display: flex;
        justify-content: flex-end;
        gap: 10px; /* Espaçamento entre os botões */
        margin-top: 15px; /* Espaço acima do grupo de botões */
    }

    /* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    #btnVoltar {
        margin-left: 2%;
        display: block;
    }
}

/* Estilo para dispositivos maiores (desktop) */
@media (min-width: 769px) {
    #btnVoltar {
        display: none;
    }
}
